@charset"utf-8";
#main{
    font-size: 30px;
}
#box1{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 20px;
    float: left;
}

#box2{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 20px;
    float: left;
}

#box3{
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 20px;
    float: left;
}